/* CSS for for Home Page */

.jumbo {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.logo {
  font-family: 'Lora', serif;
}

/* CSS for UserHomePage */

.mainCardTitle {
  text-align: center;
}

.subCardOne {
 float:left;
 position: relative;
 width: 70%;
 padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
 margin:1.66%;
 overflow:hidden;
}

.subCardTwo {
  float:left;
  position: relative;
  width: 70%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  overflow:hidden;
}

.videoOne {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.videoTwo {
  width: 700px;
  height: 700px;
  float: right;
  position: relative;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  overflow:hidden;

}

display:flex; flex-direction:row;



