/* CSS for App */
.appParent {
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100px;
}

/* CSS for for Home Page */

.jumbo {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.logo {
  font-family: 'Lora', serif;
}
.buttons {
  margin-top: 35px;
}

/* CSS for UserHomePage */

.mainCardTitle {
  text-align: center;
}

footer.page-footer {
  background-color: #36454F;
}

.videoOne {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.videoTwo {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.subcardone {
  display: flex;
  justify-content: flex-start;
}

.subcardtwo {
  display: flex;
  justify-content: flex-start;
}

/* CSS for NewsPage */

.headlines {
  float: right;
  width: 585px;
  height: 620px;
  margin-right: 40px;
  text-align: center;
}

.thead {
  border: 1px outset #36454F;
  margin-bottom: 50px;
  text-align: center;
}

.whead {
  text-align: center;
  margin-top: 50px;
  border: 1px outset #36454F;
}

.hhead {
  text-align: center;
  margin-top: 50px;
  border: 1px outset #36454F;
}


.video {
  width: 585px;
  height: 620px;
  margin-left: 20px;
  float: left;
}

.bottomfooter {
  margin-top: 700px;
  justify-content: flex-end;
}

.page-footer two {
  margin-top: 50px;
  justify-content: flex-end;
  height: 300px;
}

.copyright {
  justify-content: flex-end;
}

.vid3 {
  margin-bottom: 20px;
}
