/* CSS for App */

/* CSS for for AnecdotesPages */
/* CSS for for JAERPage */
/* CSS for for LoginPage */
/* CSS for for MainPage */


#head-nav {
  width: 100%;
  height: 80px;
  background-color: #808080;
  position: fixed;
}


#content-div {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  font-family:'Indie Flower', cursive;
  font-size: 20px;
  width: 100vw;

}

#inner-content {
  float: right;
  margin-left: 80px;
  margin-right: 80px;
  width: 250px;
  margin-top: 150px;
}

#mainpic-quote {

}

#poker {
  height: 175px;
  float: left;
  margin-bottom: 100px;
}

#buttons {
  display: flex;
  margin-bottom: 225px;
  margin-left: 280px;
}

#plax {
  height: 700px;
  margin-top: 200px;
}

.demo-button {
  height: 45px;
  border-color: transparent;
  padding: 10px;
  border-radius: 15px 50px;
}

.login-button {
  height: 45px;
  width: 120px;
  font-size: 14px;
  border-color: transparent;
  padding: 10px;
  border-radius: 15px 50px;


}

#intro-text {
  font-size: 60px;
  margin-left: 250px;
  margin-top: 150px;
}


#quote-center {
  align-items: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic bold;
  display: flex;
}

.stadium-comp {
 height: 120%;
 width: 100%;
 margin-top: 350px;

}


#second-quote {
  text-align: center;
  margin-top: 175px;
  font-family:'Indie Flower', cursive;
  font-size: 24px;


}

#nav-quote {
  margin-bottom: 160px;
  margin-left: 190px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic bold;
}


footer {
  padding-left: 200px;
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

footer li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
  transition: color 1s;
}

footer a:hover {
  text-decoration: none;
  font-size: 14px;
  color: black;
  transition: color 1s;
}



/* CSS for for MatchesPage */
/* CSS for for NewsPage */
/* CSS for for PlayersPage */
/* CSS for for UserHomePage */


