/* CSS for App */

/* CSS for for AnecdotesPages */
/* CSS for for JAERPage */
/* CSS for for LoginPage */


/* CSS for for MainPage */


/* class component MP */

#content-div {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  font-family:'Indie Flower', cursive;
  font-size: 20px;
  width: 100vw;

}

#animated-intro {
  width: 80vw;
  max-width: 80vw;
}

#inner-content {
  float: right;
  margin-left: 80px;
  margin-right: 80px;
  width: 250px;
  margin-top: 150px;
}


#second-quote {
  text-align: center;
  margin-top: 175px;
  font-family:'Indie Flower', cursive;
  font-size: 24px;
}

footer {
  padding-left: 200px;
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

footer li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
  transition: color 1s;
}

footer a:hover {
  text-decoration: none;
  font-size: 14px;
  color: black;
  transition: color 1s;
}

/* presentational component Header */


#head-nav {
  width: 100%;
  height: 80px;
  background-color: #808080;
  position: fixed;
  z-index: 2;
}

#poker {
  height: 175px;
  float: left;
  margin-bottom: 100px;
}

#quote-center {
  align-items: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic bold;
  display: flex;
}


#nav-quote {
  margin-bottom: 200px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 100;
  opacity: 0.7;
}


#buttons {
  display: flex;
  margin-bottom: 225px;
  margin-left: 325px;
}

.demo-button {
  height: 45px;
  border-color: transparent;
  padding: 10px;
  margin-right: 30px;
  margin-left: 400px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.login-button {
  height: 45px;
  width: 120px;
  font-size: 14px;
  border-color: transparent;
  padding: 10px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

/* presentational component IntroText */

#intro-text {
  font-size: 60px;
  margin-left: 250px;
  margin-top: 150px;
}

/* presentational component pDisplay */


.caption {
  margin-bottom: 50px;
}

.bottom-grey-text {
  width: 100%;
  height: 150px;
  background-color: #808080;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  opacity: 0.7;
  font-size: 20px;
}

#icon-1 {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

#icon-2 {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}


.description-text {
  padding-top: 50px;
}


/* CSS for for MatchesPage */
/* CSS for for NewsPage */
/* CSS for for PlayersPage */
/* CSS for for UserHomePage */

/* class component UHP */

#second-section-videos {
  margin-top: 100px;
  margin-left: 100px;
  width: 558px;
}

#userhp-video2 {
  margin-top: 50px;
}


.notecardone {
  width: 558px;
}

.notecardtwo {
  width: 558px;
}

#second-section-notecards {
  float: right;
  width: 558px;
}



/* presentational component LoggedInHeader */

#side-nav-button {
  opacity: 0.7;
  width: 10vw;
  height: 10vw;
  position: fixed;
  z-index: 100;
}

.background img {
  height: 200px;
  margin-left: 40px;
  margin-top: 35px;
  z-index: 4;
}

.userView {
  z-index: 1;
}

.side-nav .subheader {
  margin-left: 60px;
}

.hamburger {
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 99;
}

.side-nav .userView {
  height: 250px;
}

#user-view-text {
  text-decoration-color: red;
  font-family: 'Dancing Script', cursive;
  margin-left: 65px;
  margin-top: 50px;
}

li:hover {
  background-color: red;
}

#poker-image-nav {
  margin-left: 20px;
  margin-top: 20px;
}
/* presentational component MainCard */

.card .card-content .card-title {
  text-align: center;
}

.card .card-reveal .card-title {
  text-align: center;
}

.revealed-text {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 25px;
}
