/* CSS for App */

/* CSS for for AnecdotesPages */
/* CSS for for JAERPage */
/* CSS for for LoginPage */


/* CSS for for MainPage */


/* class component MP */

#content-div {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  font-family:'Indie Flower', cursive;
  font-size: 20px;
  width: 100vw;

}

#animated-intro {
  width: 80vw;
  max-width: 80vw;
}

#inner-content {
  float: right;
  margin-left: 80px;
  margin-right: 80px;
  width: 250px;
  margin-top: 150px;
}


#second-quote {
  text-align: center;
  margin-top: 175px;
  font-family:'Indie Flower', cursive;
  font-size: 24px;
}

footer {
  padding-left: 200px;
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

footer li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
  transition: color 1s;
}

footer a:hover {
  text-decoration: none;
  font-size: 14px;
  color: black;
  transition: color 1s;
}

/* presentational component Header */


#head-nav {
  width: 100%;
  height: 80px;
  background-color: #808080;
  position: fixed;
  z-index: 2;
}

#poker {
  height: 175px;
  float: left;
  margin-bottom: 100px;
}

#quote-center {
  align-items: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic bold;
  display: flex;
}


#nav-quote {
  margin-bottom: 200px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 100;
  opacity: 0.7;
}


#buttons {
  display: flex;
  margin-bottom: 225px;
  margin-left: 325px;
}

.demo-button {
  height: 45px;
  border-color: transparent;
  padding: 10px;
  margin-right: 30px;
  margin-left: 400px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.login-button {
  height: 45px;
  width: 120px;
  font-size: 14px;
  border-color: transparent;
  padding: 10px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

/* presentational component IntroText */

#intro-text {
  font-size: 60px;
  margin-left: 250px;
  margin-top: 150px;
}

/* presentational component pDisplay */


.caption {
  margin-bottom: 50px;
}

.bottom-grey-text {
  width: 100%;
  height: 150px;
  background-color: #808080;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  opacity: 0.7;
  font-size: 20px;
}

#icon-1 {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

#icon-2 {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}


.description-text {
  padding-top: 50px;
}


/* CSS for for MatchesPage */
/* CSS for for NewsPage */
/* CSS for for PlayersPage */
/* CSS for for UserHomePage */

/* class component UHP */

#section-one {
  display: flex;
  margin-left: 60px;
}


.card-one {
  width: 650px;
  padding-top: 50px;
}

.card-two {
  width: 650px;
  padding-left: 100px;
}


#timeline-headline {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  padding-left: 30px;

}

#timeline-videos {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

#timeline-breakingnews {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    padding-top: 50px;
}

.vid-1 {
  padding-left: 25px;
  padding-top: 50px;
}

.vid-2 {
  padding-top: 60px;
}

.vid-3 {
  padding-top: 60px;
}

.vid-4 {
  padding-top: 60px;
}


/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  padding: 20 20 20 20px;
  margin-left: 20px;
  margin-right: 10px;
  width: 420px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: red;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: red;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}



#collapse-notecard {
  padding-top: 50px;
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  padding: 20 20 20 20px;
  margin-left: 20px;
  margin-right: 75px;
  margin-top: 10px;
  vertical-align: middle;
  background: red;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  padding: 20 20 20 20px;
  margin-left: 20px;
  margin-right: 75px;
  margin-top: 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: red;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  padding: 20 20 20 20px;
  margin-left: 20px;
  margin-right: 75px;
  margin-top: 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: red;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  padding: 20 20 20 20px;
  margin-left: 20px;
  margin-right: 75px;
  margin-top: 10px;
  background: red;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* presentational component NewsTicker */

.red-barrier {
  background-color: red;
  opacity: 0.8;
  height: 200px;
  margin-top: 100px;
}

/* Make it a marquee */
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.marquee-1 span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}

/* Make it move */
@keyframes marquee-1 {
    10%   { transform: translate(0, 0); }
    90% { transform: translate(-100%, 0); }
}




/* presentational component LoggedInHeader */

#side-nav-button {
  opacity: 0.7;
  width: 10vw;
  height: 10vw;
  position: fixed;
  z-index: 100;
}

.background img {
  height: 200px;
  margin-left: 40px;
  margin-top: 35px;
  z-index: 4;
}

.userView {
  z-index: 1;
}

.side-nav .subheader {
  margin-left: 60px;
}

.hamburger {
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 99;
}

.side-nav .userView {
  height: 250px;
}

#user-view-text {
  text-decoration-color: red;
  font-family: 'Dancing Script', cursive;
  margin-left: 65px;
  margin-top: 50px;
}

li:hover {
  background-color: red;
}

#poker-image-nav {
  margin-left: 20px;
  margin-top: 20px;
}
/* presentational component MainCard */

.card .card-content .card-title {
  text-align: center;
}

.card .card-reveal .card-title {
  text-align: center;
}

.revealed-text {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 25px;
}
